# Credenciales GCP — NUNCA commitear
gcp-key.json
*-key.json
*.json.key

# Python
__pycache__/
*.py[cod]
*.pyo
.Python
*.egg-info/
dist/
build/
.eggs/

# Entorno virtual
.venv/
venv/
env/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
staticfiles/
media/

# Variables de entorno
.env
.env.local
.env.*.local

# Coverage
.coverage
htmlcov/
.tox/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
